@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
	background: #181425;
	color: #FF0044;
	margin: 0;
	border: none;
	font-family: 'Press Start 2P';
	font-size: 18px;
}
*:focus{
	outline: none;
}
html, body, #input, #display{
	width: 100%;
	height: 100%;
}
#input{
	height: 50px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #FF0044;
	padding: 10px;
}
#display{
	line-height: 1.5em;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	resize: none;
	background-color: #181425;
	width: 500px;
}
#display::-webkit-scrollbar
{
	width: 14px;
}
#display::-webkit-scrollbar-thumb
{
	background-color: #FF0044;
	border: 6px solid #181425;
}
#display::-webkit-scrollbar-track
{
	background-color: #181425;
}
#enter{
	display: none;
}
img{
	margin-bottom: 50px;
}
